/* Contains all of the CSS for the two HTML files*/
/* The CSS file
Please follow these rules when creating the rules in your CSS file:

You must put one blank line between rules
You must put an open curly brace on the same line as the selector
You must put a close curly brace on a new line
All property-value pairs in the CSS rule must be indented */
/*CSS rules used

Note: If you've already created any of the CSS rules in this
section by working on another page, you do not need to make them again.

body should remove all margin and padding
main should set the padding to 16 pixels
footer should set the top and bottom padding to 24 pixels
and the left and right padding to 0 pixels
img should have a height of 200 pixels
nav should have a black, 1pixel bottom border and
padding all the way around of 16 pixels*/

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgba(255, 60, 0, 0.778);
    color: white;
}

/*Creates Grid container*/
.my-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
    gap: 10px;

}

/* changes color of h1 */
h1 {
    color: rgb(43, 109, 43);
}

/* removes underlines from <a> tags*/
a {
    text-decoration: none;
    color: black;
}

footer {
    padding: 30px;
    background-color: rgb(146, 193, 91)
}

tr:nth-child(even) {
    background-color: rgb(206, 204, 204)
}
/*CSS rules used for detail.html
Note: If you've already created any of the CSS rules in this section by working on another page, you do not need to make them again.

body should remove all margin and padding
main should set the padding to 16 pixels
footer should set the top and bottom padding to 24 pixels and the left and right padding to 0 pixels
img should have a height of 200 pixels
nav should have a black, 1-pixel bottom border and padding all the way around of 16 pixels
